{% extends 'news/base_generic.html' %}

{% block content %}
<main role="main">
  <h1>Welcome to Glad Tidings Times</h1>
  <p>
    Folks, in a world where it feels like we're constantly bombarded with tragic and disheartening news, it’s easy to
    get overwhelmed.
    Here at <strong>Glad Tidings Times</strong>, we're takin' a stand against the gloom. We believe that there’s still
    plenty of good in the world,
    and we're dedicated to sharin' stories that bring a smile to your face and warmth to your heart.
  </p>
  <p>
    Whether it’s tales of kindness, inspiring achievements, or heartwarming events, we're here to remind you that joy
    and positivity are alive and well.
    Sit back, relax, and immerse yourself in a world where happy news takes center stage.
    Let's celebrate the bright side of life together!
  </p>
  <p>
    Welcome to a space where good news is the only news. We're so glad to have you here with us.
  </p>
</main>
{% endblock %}