{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Update Post</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Update</button>
</form>
{% if post.image %}
<div>
    <img src="{{ post.image.url }}" alt="{{ post.title }}">
    <form method="post" action="{% url 'delete_post_image' post.slug %}">
        {% csrf_token %}
        <button type="submit">Delete Image</button>
    </form>
</div>
{% endif %}
{% endblock %}
